<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.acdat.ejercicios_xml" >

    <!-- permisos de usuario -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Tiempo"
            android:label="@string/title_activity_tiempo"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".EstacionesBizi"
            android:label="@string/title_activity_estaciones_bizi"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".EstacionDetalles"
            android:label="@string/title_activity_estacion_detalles"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Noticias"
            android:label="@string/title_activity_noticias"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Titulares"
            android:label="@string/title_activity_titulares"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Empleados"
            android:label="@string/title_activity_empleados"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
    </application>

</manifest>
